*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Log- und Validator-Ausgaben
aa_validator_*.txt
build_*.txt
build_out*.txt
build_output*.txt
install_*.txt
pkgflags_*.txt
info_log.txt
full_debug_log.txt
classpath_info.txt
all_tasks.txt

/build_output.log
/release-artifacts/shoppinggenius-app-0.3.0-18-release.aab
/release-artifacts/shoppinggenius-app-0.3.0-19-release.aab
/release-artifacts/shoppinggenius-app-0.3.1-20-release.aab
